body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 0;
    /* box-sizing: border-box; */
    width: 100%;
    /* background-color: #f4f4f4; */
}

/* styles.css */
body {
    transition: background-color 0.8s ease;
}

.light-mode {
    background-color: #fff;
    color: #333;
}

.dark-mode {
    background-color: #333;
    color: white;
}

.containers {

    height: 3vw;
    width: 4vw;
    object-fit: cover;
    margin-top: 4.1vw;
    padding-right: 1rem;
}

#toggleBtn {
    height: 100%;
    cursor: pointer;
    width: 100%;
    border-radius: 50%;
}

/* body{
    background-color: #333;
} */
.nex {
    margin-left: 1px;
    height: 6rem;
    display: flex;
    flex-direction: row;
    width: 7rem;
}

.nex>i>h1 {
    background: linear-gradient(#ff00d2, #fed90f, #09f1b8, red, #fed90f, blueviolet, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: gradient 1s ease-in-out infinite;
    font-size: 4vw;
    padding-bottom: 3vw;
    padding-left: 2vw;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    ;

    100% {
        background-position: 0% 50%;
    }

    ;
}

.nex img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.4rem;
    border-radius: 1px #333;
}

.head {

    height: 6rem;
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: relative;
}

.gill {
    margin-left: 64vw;
    display: flex;
    flex-direction: row;
}

/* .left {
    margin-top: 0;
   padding-right: 2vw;
}
.left:hover{
background-color: green;
height: 1rem;
}
.right:hover{
    background-color: green;
} */
#login {
    cursor: pointer;
    font-weight: 500;
    margin-top: 4vw;
    letter-spacing: 1px;
    color: white;
    margin-right: 4px;
    font-size: medium;
    opacity: 1;
    background: linear-gradient(rgba(0, 0, 255, 0.479), rgb(85, 21, 134), rgb(211, 161, 211));
    border: none;
}

#login:hover {
    opacity: 0.7;
}

#register:hover {
    opacity: 0.7;
}

#register {
    cursor: pointer;
    color: green;
    font-weight: 500;
    font-size: medium;
    opacity: 1;
    letter-spacing: 1px;
    background-color: white;
}

/* .video {
    position:absolute;
    top: 0;
    left: 0;
    width: 100VW;
    height: 100vh;
    padding-bottom: 0;
    object-fit: cover;
    overflow: hidden;
} */
#gnt>a {
    text-decoration: none;
}

#gnt {
    margin-top: 2px;
    margin-left: 3px;
}

.point {
    position: relative;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    overflow: hidden;
}

.point img {
    height: 100%;
    width: 100%;
    position: absolute;
    /* top: 0; */
    left: 0;
    opacity: 0;
    transition: opacity 8s ease-in;
}

.point img:nth-child(1) {
    animation: fadeInOut 8s linear infinite;
}

.point img:nth-child(2) {
    animation: fadeInOut 8s linear infinite 2s;
}

.point img:nth-child(3) {
    animation: fadeInOut 8s linear infinite 4s;
}

.point img:nth-child(4) {
    animation: fadeInOut 8s linear infinite 6s;
}

.point img:nth-child(5) {
    animation: fadeInOut 8s linear infinite 8s;
}


@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
    }

    20%,
    30%,
    50%,
    70%,
    80% {
        opacity: 1;
    }
}



.point>h1 {
    z-index: 99;
    position: fixed;
}

#main {
    z-index: 1;
}

.quote {
    text-align: end;
}

header {
    line-height: 90vh;
    font-size: 3vw;
    color: transparent;
    -webkit-text-stroke: 2px black;
    text-align: center;
}

header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
    padding: 40px 0;
}

.features {
    /* background-color: #fff; */
}

.cta {
    margin-top: 3vw;
}

.contain {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 8rem;
}

button {
    background-color: #fff;
    color: blue;
    padding: 9px 20px;
    margin-top: 2rem;
    border-radius: 2rem;
    cursor: pointer;
}

#cursor {
    height: 5rem;
    width: 5rem;
    z-index: 0;
    background-color: #ff5f83;
    border-radius: 50%;
    position: fixed;
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    align-items: center;
}

#cursor h2 {
    font-size: 1.1rem;
    font-weight: 600;
    padding-left: 0.1rem;
    color: #232323;
    padding-top: 0.4rem
}

button:hover {
    background-color: #826b6b;
}

.cta p {
    padding-left: 1vw;
}

.sign {
    margin-left: 2vw;
}

.signup {
    margin-top: 35vw;
    padding-left: 2vw;
    background-image: url('https://images.unsplash.com/photo-1697215786004-682b1684c65e?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.hlo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
}

.hlo>h1 {
    animation: anime 17s linear infinite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 3px;
    font-weight: 200;
    font-size: 2rem;
    color: transparent;
    -webkit-text-stroke: 1px rgb(241, 60, 40);
    margin-top: 0%;
    letter-spacing: 3px;
}

.hlo>h1>span {
    color: salmon;
}

@keyframes anime {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translatex(-100%);
    }
}

.btn {
    filter: drop-shadow(4px 4px 8px white);
    letter-spacing: 2px;
    margin: 1vw;
    margin-left: 44vw;
    color: #232323;
    font-size: large;
}
.btn a{
    text-decoration: none;
}

.course {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.img {
    transition: transform ease-in-out 0.2s;
    margin-top: 1rem;
    overflow: hidden;
    object-fit: cover;
    border-radius: 0.8rem;
    font-size: 1vw;
    border: 1px solid rgb(74, 106, 203);
    margin-left: 0.7rem;
    width: 23.4vw;
    height: 50vh;
}

.img:hover {
    transform: scale(1.03);
}

.img img {
    height: 55%;
    width: 100%;
    border-radius: 0.6rem;
}

.img p1 {
    padding-left: 4px;
    font-weight: 450;
}

.feature {
    height: 20rem;
    width: 100vw;
}

.feature h1 {
    padding-top: 2vw;
    padding-left: 1vw;
}

h2 {
    padding-left: 1vw;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.swiper {
    width: 30rem;
    height: 34rem;
    position: absolute;
    left: 45%;
    animation: rotate 8s linear infinite;
    margin-left: -150px;
    margin-top: -80px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide video {
    display: block;
    width: 100%;
    height: 40rem;
    border-radius: 20%;
}

#beauty {
    background-color: #333;
    margin-top: 7vw;
}

#about {
    color: #fff;
    border-radius: 2px;
    padding-bottom: 0;
}

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.ani {
    /* margin-left: 40vw; */
    height: 10vw;
    color: white;
    width: 10vw;
    border-radius: 50%;

}

.ani video {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#about>p1 {
    padding-left: 1vw;
}